

<!DOCTYPE html>
<html>
   <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <title>Automate All The Things</title>
   </head>
   <body>
      <h1>IPvZero Network Automation</h1>
      <strong>
         <nav>
            <ul class="menu">
               <li><a href="http://127.0.0.1:5000/all/running">Running Configs</a></li>
               <li><a href="http://127.0.0.1:5000/all/version">Version Info</a></li>
               <li><a href="http://127.0.0.1:5000/hosts/inventory">Device Inventory</a></li>
            </ul>
         </nav>
      </strong>
      {% block content %}
      {% endblock content %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
   </body>
</html>
