router bgp {{ host.facts.BGP.ASN }}
{% for neighbor in host.facts.BGP.peers %}
  neighbor {{ neighbor["neighbor"] }}
  remote-as {{ neighbor["peer_asn"] }}
  update-source loopback0
  ebgp-multihop 2
  address-family ipv4 unicast
  exit
{% endfor %}
