set protocols bgp local-as {{ bgp.asn }}
set protocols bgp parameters router-id {{ bgp.rid }}
{% for neigh in bgp.neighbors %}
set protocols bgp neighbor {{ neigh }} address-family ipv4-unicast
set protocols bgp neighbor {{ neigh }} remote-as external
{% endfor %}

