set system host-name {{ HOSTNAME }}
{% if OSPF is defined %}
delete protocols ospf
{% for line in OSPF %}
set protocols ospf area {{ line["area"] }} interface {{ line["interface"] }}
{% endfor %}
{% endif %}
{% if SNMP is defined %}
delete snmp
{% for line in SNMP %}
set snmp community {{ line["community"] }}
{% endfor %}
{% endif %}
{% if BGP is defined %}
delete protocols bgp
set protocols bgp local-as {{ BGP["ASN"] }}
{% endif %}
commit

